# Dependencias
node_modules/
dist/
.DS_Store

# Capacitor / Android
android/app/build/
android/.gradle/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json

# IDEs
.vscode/
.idea/
*.swp
*.log

# Firebase / Data Connect
dataconnect/
android/build/
